	<aside th:fragment="sidebar" class="w-64 h-screen bg-gray-800 fixed mt-16 p-4">
    <nav class="mt-4">
        <ul class="space-y-2">
                    
            <li>
                <a href="#" onclick="showSection('home')" class="flex items-center space-x-2 p-2 text-white hover:bg-gray-700 rounded">
                    <i class="fa fa-home"></i> 
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
            <li>
                <a href="#" onclick="showSection('orders')" class="flex items-center space-x-2 p-2 text-white hover:bg-gray-700 rounded">
                    <i class="fas fa-shopping-basket"></i> 
                    <span>Quản lý đơn hàng</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="showSection('customers')" class="flex items-center space-x-2 p-2 text-white hover:bg-gray-700 rounded">
                    <i class="fas fa-users"></i> 
                    <span>Quản lý khách hàng</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="showSection('services')" class="flex items-center space-x-2 p-2 text-white hover:bg-gray-700 rounded">
                    <i class="fas fa-tags"></i> 
                    <span>Quản lý dịch vụ</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="showSection('reports')" class="flex items-center space-x-2 p-2 text-white hover:bg-gray-700 rounded">
                    <i class="fas fa-chart-line"></i> 
                    <span>Báo cáo & Thống kê</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
    